<%= form_for(@grade) do |f| %>

    <h2><%= I18n.t "activerecord.models.grade" %></h2>

    <p><b><%= f.label :periodo %>:</b>
    <%= @grade.periodo %></p>

    <p><b><%= f.label :referencia %>:</b>
    <%= @grade.referencia %></p>

    <p><b><%= f.label :disciplina_id %>:</b>
    <%= @grade.disciplina.nome %></p>

    <p><b><%= f.label :curso_id %>:</b>
    <%= @grade.curso.nome %></p>
    
<% end %>

<p><% if can? :update, @grade %>
    <%= link_to I18n.t('link_to.edit'), edit_grade_path(@grade) %> |
<% end %>
<%= link_to I18n.t('link_to.back'), grades_path %></p>
