<%= form_for(@matriculado) do |f| %>

    <h2><%= I18n.t "activerecord.models.matriculado" %></h2>

    <p><b><%= f.label :periodo %>:</b>
    <%= @matriculado.periodo %></p>

    <p><b><%= f.label :estadomatricula %>:</b>
    <%= @matriculado.estadomatricula %></p>

    <p><b><%= f.label :aluno_id %>:</b>
    <%= @matriculado.aluno.nome %></p>

    <p><b><%= f.label :curso_id %>:</b>
    <%= @matriculado.curso.nome %></p>
<% end %>

<p><% if can? :update, @matriculado %>
    <%= link_to I18n.t('link_to.edit'), edit_matriculado_path(@matriculado) %> |
<% end %>
<%= link_to I18n.t('link_to.back'), matriculados_path %></p>
