= semantic_form_for [@disciplina] do |form|
  
  = form.input :nome, :label => 'Nome'
  = form.input :cargahoraria, :label => 'Carga Horaria'
  = form.input :ementa, :label => 'Ementa'
  = form.input :objetivo, :label => 'Objetivo'
  = form.input :prerequisito, :label => 'Pre Requisito'
  = form.input :credito, :label => 'Credito'
  = form.input :referencia, :label => 'Referencia'
  = form.submit 'Salvar'
