<h1>Listing disciplinas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cargahoraria</th>
    <th>Ementa</th>
    <th>Objetivo</th>
    <th>Prerequisito</th>
    <th>Credito</th>
    <th>Referencia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disciplinas.each do |disciplina| %>
  <tr>
    <td><%= disciplina.nome %></td>
    <td><%= disciplina.cargahoraria %></td>
    <td><%= disciplina.ementa %></td>
    <td><%= disciplina.objetivo %></td>
    <td><%= disciplina.prerequisito %></td>
    <td><%= disciplina.credito %></td>
    <td><%= disciplina.referencia %></td>
    <td><%= link_to 'Show', disciplina %></td>
    <td><%= link_to 'Edit', edit_disciplina_path(disciplina) %></td>
    <td><%= link_to 'Destroy', disciplina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disciplina', new_disciplina_path %>
