<%= form_for(@disciplina) do |f| %>

   <h2><%= I18n.t "activerecord.models.disciplina" %></h2>

    <p><b><%= f.label :nome %>:</b>
    <%= @disciplina.nome %></p>

    <p><b><%= f.label :cargahoraria %>:</b>
    <%= @disciplina.cargahoraria %></p>

    <p><b><%= f.label :ementa %>:</b>
    <%= @disciplina.ementa %></p>

    <p><b><%= f.label :objetivo %>:</b>
    <%= @disciplina.objetivo %></p>

    <p><b><%= f.label :prerequisito %>:</b>
    <%= @disciplina.prerequisito %></p>

    <p><b><%= f.label :credito %>:</b>
    <%= @disciplina.credito %></p>

    <p><b><%= f.label :referencia %>:</b>
    <%= @disciplina.referencia %></p>
    
<% end %>

<p><% if can? :update, @disciplina %>
    <%= link_to I18n.t('link_to.edit'), edit_disciplina_path(@disciplina) %> |
<% end %>
<%= link_to I18n.t('link_to.back'), disciplinas_path %></p>
