<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @disciplina.nome %>
</p>

<p>
  <b>Carga Horaria:</b>
  <%= @disciplina.cargahoraria %>
</p>

<p>
  <b>Ementa:</b>
  <%= @disciplina.ementa %>
</p>

<p>
  <b>Objetivo:</b>
  <%= @disciplina.objetivo %>
</p>

<p>
  <b>Pre Requisito:</b>
  <%= @disciplina.prerequisito %>
</p>

<p>
  <b>Credito:</b>
  <%= @disciplina.credito %>
</p>

<p>
  <b>Referencia:</b>
  <%= @disciplina.referencia %>
</p>


<%= link_to 'Edit', edit_disciplina_path(@disciplina) %> |
<%= link_to 'Back', disciplinas_path %>
