= semantic_form_for [@docente] do |form|
  
  = form.input :titulacao, :label => 'Titulacao'
  = form.input :matricula, :label => 'Matricula'
  = form.input :situacao, :label => 'Situacao'
  = form.input :nome, :label => 'Nome'
  = form.input :email, :label => 'Email'
  = form.input :imageurl, :label => 'Foto'
  = form.submit 'Salvar'
