<h1>Listing docentes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th>Situacao</th>
    <th>Titulacao</th>
    <th>Email</th>
    <th>Imageurl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @docentes.each do |docente| %>
  <tr>
    <td><%= docente.nome %></td>
    <td><%= docente.matricula %></td>
    <td><%= docente.situacao %></td>
    <td><%= docente.titulacao %></td>
    <td><%= docente.email %></td>
    <td><%= docente.imageurl %></td>
    <td><%= link_to 'Show', docente %></td>
    <td><%= link_to 'Edit', edit_docente_path(docente) %></td>
    <td><%= link_to 'Destroy', docente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Docente', new_docente_path %>
