<%= form_for(@docente) do |f| %>

    <h2><%= I18n.t "activerecord.models.docente" %></h2>

    <%= image_tag @docente.imageurl.url(:small) %>

    <p><b><%= f.label :nome %>:</b>
    <%= @docente.nome %></p>

    <p><b><%= f.label :matricula %>:</b>
    <%= @docente.matricula %></p>

    <p><b><%= f.label :situacao %>:</b>
    <%= @docente.situacao %></p>

    <p><b><%= f.label :titulacao %>:</b>
    <%= @docente.titulacao %></p>

    <p><b><%= f.label :email %>:</b>
    <%= @docente.email %></p>

<% end %>

<p><% if can? :update, @docente %>
    <%= link_to I18n.t('link_to.edit'), edit_docente_path(@docente) %> |
<% end %>
<%= link_to I18n.t('link_to.back'), docentes_path %></p>
