= semantic_form_for [@aluno] do |form|
  
  = form.input :matricula, :label => 'Matricula'
  = form.input :nome, :label => 'Nome'
  = form.input :pai, :label => 'Pai'
  = form.input :mae, :label => 'Mae'
  = form.input :rg, :label => 'RG'
  = form.input :email, :label => 'Email'
  = form.input :cpf, :label => 'CPF'
  = form.input :uf, :label => 'UF'
  = form.input :endereco, :label => 'Endereco'
  = form.input :cidade, :label => 'Cidade'
  = form.input :bairro, :label => 'Bairro'
  = form.input :imageurl, :label => 'Foto'
  = form.submit 'Salvar'
