<h2><%= I18n.t 'activerecord.models.aluno' %></h2>

<% @alunos.each do |aluno| %>

    <table>
      <tr>
        <th><%= I18n.t 'activerecord.attributes.aluno.nome' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.matricula' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.pai' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.mae' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.cpf' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.rg' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.endereco' %></th>
      </tr>
      <tr>
        <td><%= aluno.nome %></td>
        <td><%= aluno.matricula %></td>
        <td><%= aluno.pai %></td>
        <td><%= aluno.mae %></td>
        <td><%= aluno.cpf %></td>
        <td><%= aluno.rg %></td>
        <td><%= aluno.endereco %></td>
      </tr>
      <tr>
        <th><%= I18n.t 'activerecord.attributes.aluno.bairro' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.cidade' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.uf' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.email' %></th>
        <th><%= I18n.t 'activerecord.attributes.aluno.imageurl' %></th>
      </tr>
      <tr>
        <td><%= aluno.bairro %></td>
        <td><%= aluno.cidade %></td>
        <td><%= aluno.uf %></td>
        <td><%= aluno.email %></td>
        <td><%= aluno.imageurl.url %></td>
      </tr>
      <tr>
        <% if can? :read, @aluno %>
            <td><p><%= link_to I18n.t('link_to.show'), aluno %></p></td>
        <% end %></p>
        <% if can? :update, @aluno %>
            <td><p><%= link_to I18n.t('link_to.edit'), edit_aluno_path(aluno) %></p></td>
        <% end %></p>
        <% if can? :delete, @aluno %>
            <td><p><%= link_to I18n.t('link_to.delete'), aluno, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        <% end %>
      </tr>
    </table>
<% end %>

<br />
<% if can? :create, @aluno %>
    <p><%= link_to I18n.t('link_to.new'), new_aluno_path %></p>
<% end %>
