<%= form_for(@aluno, :html => { :multipart => true }) do |f| %>

    <h2><%= I18n.t 'activerecord.models.aluno' %></h2>

    <%= image_tag @aluno.imageurl.url(:small) %>

    <p><b><%= f.label :matricula %>:</b>
    <%= @aluno.matricula %></p>

    <p><b><%= f.label :nome %>:</b>
    <%= @aluno.nome %></p>

    <p><b><%= f.label :pai %>:</b>
    <%= @aluno.pai %></p>

    <p><b><%= f.label :mae %>:</b>
    <%= @aluno.mae %></p>

    <p><b><%= f.label :cpf %>:</b>
    <%= @aluno.cpf %></p>

    <p><b><%= f.label :rg %>:</b>
    <%= @aluno.rg %></p>

    <p><b><%= f.label :endereco %>:</b>
    <%= @aluno.endereco %></p>

    <p><b><%= f.label :bairro %>:</b>
    <%= @aluno.bairro %></p>

    <p><b><%= f.label :cidade %>:</b>
    <%= @aluno.cidade %></p>

    <p><b><%= f.label :uf %>:</b>
    <%= @aluno.uf.upcase %></p>

    <p><b><%= f.label :email %>:</b>
    <%= @aluno.email %></p>

<% end %>

<p><% if can? :update, @aluno %>
    <%= link_to I18n.t('link_to.edit'), edit_aluno_path(@aluno) %> |
<% end %>
<%= link_to I18n.t('link_to.back'), alunos_path %></p>
