= semantic_form_for [@curso] do |form|
  
  = form.input :graduacao, :label => 'Graduacao'
  = form.input :nome, :label => 'Nome'
  = form.input :duracao, :label => 'Duracao'
  = form.input :matrizcurricular, :label => 'Matriz Curricular'
  = form.input :regime, :label => 'Regime'
  = form.input :ementa, :label => 'Ementa'
  = form.input :referencia, :label => 'Referencia'
  = form.submit 'Salvar'
