<%= form_for(@curso) do |f| %>

   <h2><%= I18n.t "activerecord.models.curso" %></h2>

   <p><%= f.label :graduacao %><br />
   <%= f.text_field :graduacao %></p>
   
   <p><%= f.label :nome %><br />
   <%= f.text_field :nome %></p>
   
   <p><%= f.label :duracao %><br />
   <%= f.text_field :duracao %></p>
   
   <p><%= f.label :matrizcurricular %><br />
   <%= f.text_field :matrizcurricular %></p>
 
    <p><%= f.label :regime %><br />
    <%= f.text_field :regime %></p>
 
   <p><%= f.label :ementa %><br />
   <%= f.text_field :ementa %></p>
   
   <p><%= f.label :referencia %><br />
   <%= f.text_field :referencia %></p>
       
  <%= f.submit %>
<% end %>
