<h1>Listing cursos</h1>

<table>
  <tr>
    <th>Graduacao</th>
    <th>Nome</th>
    <th>Duracao</th>
    <th>Matrizcurricular</th>
    <th>Regime</th>
    <th>Ementa</th>
    <th>Referencia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.graduacao %></td>
    <td><%= curso.nome %></td>
    <td><%= curso.duracao %></td>
    <td><%= curso.matrizcurricular %></td>
    <td><%= curso.regime %></td>
    <td><%= curso.ementa %></td>
    <td><%= curso.referencia %></td>
    <td><%= link_to 'Show', curso %></td>
    <td><%= link_to 'Edit', edit_curso_path(curso) %></td>
    <td><%= link_to 'Destroy', curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curso', new_curso_path %>
