<%= form_for(@curso) do |f| %>

   <h2><%= I18n.t "activerecord.models.curso" %></h2>
    
    <p><b><%= f.label :graduacao %>:</b>
    <%= @curso.graduacao %></p>

    <p><b><%= f.label :nome %>:</b>
    <%= @curso.nome %></p>

    <p><b><%= f.label :duracao %>:</b>
    <%= @curso.duracao %></p>

    <p><b><%= f.label :matrizcurricular %>:</b>
    <%= @curso.matrizcurricular %></p>

    <p><b><%= f.label :regime %>:</b>
    <%= @curso.regime %></p>

    <p><b><%= f.label :ementa %>:</b>
    <%= @curso.ementa %></p>

    <p><b><%= f.label :referencia %>:</b>
    <%= @curso.referencia %></p>

<% end %>

<p><% if can? :update, @curso %>
    <%= link_to I18n.t('link_to.edit'), edit_curso_path(@curso) %> |
<% end %>
<%= link_to I18n.t('link_to.back'), cursos_path %></p>
