<h2><%= I18n.t('link_to.developers') %></h2>

<%= render 'form' %>

<%= image_tag "aline.jpg" %>
<p><i><b>Aline Costa</b></i> -  24 anos, Estudante do Bacharelado em Sistemas de Informação no Instituto Federal Fluminense, Técnica em Informática, Flamenguista, "Miss Fidelense"<br />
<a href="https://www.facebook.com/aline.costadesouza.9">Facebook</a></p>
   
<%= image_tag "denaildo.jpg" %>
<p><i><b>Denaildo Junio</b></i> -  Nerd, 22 anos, Pseudo Crítico, Estagiário, Analista de perfil, Corneteiro, Torcedor do Flamengo, Bi-campeão do F1 Challenger, Futuro Profissional da Tecnologia e Batman no twitter.<br />
<a href="https://www.facebook.com/Dena.Junio">Facebook</a></p>

<%= image_tag "kissila.jpg" %> 
<p><i><b>Kíssila Ventura</b></i> - 22 anos,  bolsita de apoio tecnológico, Graduando em Análise e Desenvolvimento de Sistemas pelo Instituto Federal Fluminense, India nas horas vagas.<br />
<a href="https://www.facebook.com/kissila.ventura">Facebook</a></p>

<%= image_tag "ismael.jpg" %>
<p><i><b>Ismael Moreira</b></i> - Nerd, 27 anos, Graduando em Análise e Desenvolvimento de Sistemas pelo Instituto Federal, "exibido", Corinthiano/Goitá, Futuro profissional de sucesso.<br />
<a href="https://www.facebook.com/imbrito">Facebook</a></p>
