<% @frequencias.each do |frequencia| %>

    <h2><%= I18n.t "activerecord.models.frequencia" %></h2>

    <table>
      <tr>
        <th><%= I18n.t 'activerecord.attributes.frequencia.frequencia' %></th>
        <th><%= I18n.t 'activerecord.attributes.frequencia.data' %></th>
        <th><%= I18n.t 'activerecord.attributes.frequencia.diarioaluno_id' %></th>
      </tr>
      <tr>
        <td><%= frequencia.frequencia %></td>
        <td><%= frequencia.data %></td>
        <td><%= frequencia.diarioaluno %></td>
      </tr>
      <tr>
        <% if can? :read, @frequencia %>
            <td><p><%= link_to I18n.t('link_to.show'), frequencia %></p></td>
        <% end %>
        <% if can? :update, @frequencia %>
            <td><p><%= link_to I18n.t('link_to.edit'), edit_frequencia_path(frequencia) %></p></td>
        <% end %>
        <% if can? :delete, @frequencia %>
            <td><p><%= link_to I18n.t('link_to.delete'), frequencia, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        <% end %>
      </tr>
    </table>
<% end %>

<br />
<% if can? :create, @frequencia %>
    <p><%= link_to I18n.t('link_to.new'), new_frequencia_path %></p>
<% end %>
