<%= form_for(@nota) do |f| %>

    <h2><%= I18n.t "activerecord.models.nota" %></h2>

    <p><b><%= f.label :nota %>:</b>
    <%= @nota.nota %></p>

    <p><b><%= f.label :avaliacao %>:</b>
    <%= @nota.avaliacao %></p>

    <p><b><%= f.label :diarioaluno_id %>:</b>
    <%= @nota.diarioaluno.id.to_s %></p>
<% end %>

<p><% if can? :update, @nota %>
    <%= link_to I18n.t('link_to.edit'), edit_nota_path(@nota) %> |
<% end %>
<%= link_to I18n.t('link_to.back'), notas_path %></p>
