<h2><%= I18n.t "activerecord.models.diario" %></h2>

<% @diarios.each do |diario| %>

    <table>
      <tr>
        <th><%= I18n.t 'activerecord.attributes.diario.ano' %></th>
        <th><%= I18n.t 'activerecord.attributes.diario.semestre' %></th>
        <th><%= I18n.t 'activerecord.attributes.diario.turno' %></th>
        <th><%= I18n.t 'activerecord.attributes.diario.pasta' %></th>
        <th><%= I18n.t 'activerecord.attributes.diario.grade_id' %></th>
        <th><%= I18n.t 'activerecord.attributes.diario.docente_id' %></th>
      </tr>
      <tr>
        <td><%= diario.ano %></td>
        <td><%= diario.semestre %></td>
        <td><%= diario.turno %></td>
        <td><%= diario.pasta %></td>
        <td><%= diario.grade %></td>
        <td><%= diario.docente %></td>
      </tr>
      <tr>
        <% if can? :read, @diario %>
            <td><p><%= link_to I18n.t('link_to.show'), diario %></p></td>
        <% end %>
        <% if can? :update, @diario %>
            <td><p><%= link_to I18n.t('link_to.edit'), edit_diario_path(diario) %></p></td>
        <% end %>
        <% if can? :delete, @diario %>
            <td><p><%= link_to I18n.t('link_to.delete'), diario, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        <% end %>
      </tr>
    </table>
<% end %>

<br />
<% if can? :create, @diario %>
    <p><%= link_to I18n.t('link_to.new'), new_diario_path %></p>
<% end %>
