<h2><%= I18n.t "activerecord.models.diarioaluno" %></h2>

<% @diarioalunos.each do |diarioaluno| %>

    <table>
      <tr>
        <th><%= I18n.t 'activerecord.attributes.diarioaluno.mediafinal' %></th>
        <th><%= I18n.t 'activerecord.attributes.diarioaluno.frequenciafinal' %></th>
        <th><%= I18n.t 'activerecord.attributes.diarioaluno.diario_id' %></th>
        <th><%= I18n.t 'activerecord.attributes.diarioaluno.matriculado_id' %></th>
      </tr>
      <tr>
        <td><%= diarioaluno.mediafinal %></td>
        <td><%= diarioaluno.frequenciafinal %></td>
        <td><%= diarioaluno.diario %></td>
        <td><%= diarioaluno.matriculado %></td>
      </tr>
      <tr>
        <% if can? :read, @diarioaluno %>
            <td><p><%= link_to I18n.t('link_to.show'), diarioaluno %></p></td>
        <% end %>
        <% if can? :update, @diarioaluno %>
            <td><p><%= link_to I18n.t('link_to.edit'), edit_diarioaluno_path(diarioaluno) %></p></td>
        <% if can? :delete, @diarioaluno %>
            <td><p><%= link_to I18n.t('link_to.delete'), diarioaluno, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        <% end %>
      </tr>
    </table>
<% end %>

<br />
<% if can? :create, @diario %>
    <p><%= link_to I18n.t('link_to.new'), new_diarioaluno_path %></p>
<% end %>
