<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Web Academico</title>
    <%= stylesheet_link_tag :style %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		<div class="section">
			<div class="logo">
				<a href="/home/index"></a>
			</div>
			<ul>
				<li class="selected">
					<a href="/home/index">home</a>
				</li>
				<li>
					<a href="/home/about">about</a>
				</li>
				<li>
					<a href="/home/developers">developers</a>
				</li>
				<li>
					<a href="/home/contact">contact</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="body">
		<div>
		  <div class="featured">
	        <p><%= notice %></p>
<!--	      <%= alert %>-->
            <div id="user_nav">
            <% if user_signed_in? %>
            Signed in as <%= current_user.username %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
	        <p>
            <%= yield %>
            </p>
          </div>
	    </div>
	    <div id="footer">
		  <div>
			<div class="connect">
				<a href="http://twitter.com" id="twitter">twitter</a>
				<a href="http://facebook.com" id="facebook">facebook</a>
				<a href="http://googleplus.com" id="googleplus">googleplus</a>
				<a href="http://pinterest.com" id="pinterest">pinterest</a>
			</div>
			<p>
				&copy; copyright 2013 | all rights reserved.
			</p>
		</div>
	</div>
</body>
</html>
